@import "./fonts";
@import "./variables";
@import "./slick";
@import "./tailwind";
@import "./mobile-menu";
@import "./main";

body, html{
  position: relative;
}

@layer components {
    body{
        @apply bg-white text-grey text-sm lg:text-base;
    }
    h1, .h1{
        @apply text-[38px] lg:text-[64px] xl:text-[66px] leading-[1.2] font-bold font-kollektif;
    }
    h2, .h2{
      @apply text-[28px] lg:text-[32px] xl:text-[38px] leading-[1.2] font-bold font-kollektif;
    }
    h3, .h3{
        @apply text-[18px] lg:text-[20px] xl:text-[24px] leading-none font-bold font-kollektif;
    }
    h4, .h4{
        @apply text-[16px] lg:text-[18px] xl:text-[20px] leading-none font-bold font-kollektif;
    }
    h5{
        @apply text-[18px] lg:text-[22px] font-bold leading-none font-kollektif;
    }
    p{
        @apply mb-3 sm:mb-8;
    }
    .container{
        @apply mx-auto px-3;
    }

    .wide-container{
      max-width: 1450px;
      margin-left: auto;
      margin-right: auto;
    }

    input[type=text], input[type=email], input[type=tel], input[type=url], input[type=number], input[type=password]{
      color: $black;
      border-radius: 0;
      width: 100%;
      padding: 13px 23px;
      font-size: 15px;
      font-weight: 500;
      border: 1px solid #96C72C;
      border-radius: 5px;
      background-color: #FFFFFF;
    }
    input:focus{
      outline:none!important;
    }
    input::placeholder{
        @apply text-black;
    }
    textarea{
      color: $black;
      border-radius: 0;
      width: 100%;
      height: 170px;
      padding: 13px 23px;
      font-size: 15px;
      font-weight: 500;
      border: 1px solid #96C72C;
      border-radius: 5px;
      background-color: #FFFFFF;
    }
    textarea:focus{
        outline:none!important;
    }
    textarea::placeholder{
        @apply text-black;
    }

    select{
      color: $black;
      border-radius: 0;
      width: 100%;
      padding: 14px 23px;
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid $green;
      background-color: #fff;
    }

    a{
      @apply transition-all text-green font-bold;
      &:hover{
        @apply text-darkgreen;
      }
    }
    .btn{
      @apply transition-all rounded-3xl py-[13px] px-5 text-sm font-bold inline-block uppercase w-[298px] max-w-full text-center;
    }
    .green-btn{
      color: #fff;
      background-color: $green;
      &:hover{
        color: #fff;
        background-color: $darkgreen;
      }
    }
    .white-btn{
      color: $grey;
      background-color: #fff;
      &:hover{
        color: $grey;
        background-color: #ccc;
      }
    }  
  }



@import "./media";